<h1>TODO LIST APP</h1>

<%= form_with model: @new_task, local: true do |form| %>
  <div>
    <%= form.label :name, "Add new task" %>
    <%= form.text_field :name, placeholder: "add todos..." %>
    <%= form.submit "Add Task" %>
  </div>
<% end %>

<h2>Incomplete Tasks</h2>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.name %>
      <%= link_to "Mark as complete", complete_task_path(task) %>
      <%= link_to "Delete", task_path(task), method: :delete %>
    </li>
  <% end %>
</ul>
